.trigger{
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        color: #1890ff !important;
    }
}

.logo{
    height: 32px;
    margin: 16px;
    background: #ffffff4d;
}

.loading-big{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container{
    flex: 1;
    margin: 0 32px;
    margin-right: 72px;

}