.breadcrumb {
    width: 100%;
    padding-bottom: 16px;
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    .breadcrumb__link {
        display: inline;

        &:last-child {
            color: #75757a;
        }

        &:not(:last-child)::after {
            content: ">";
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}