.header {
    background: #e2e2ea;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ad {
        display: flex;

        h2 {
            margin-right: 4rem;
            color: red;
        }
    }
}

.navbar {
    background: white;
    position: relative;
    height: 75px;
    z-index: 70;
    position: sticky;
    top: 0;
    display: flex;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.12);

    .navbar__container {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        width: 100%;
        max-width: 1184px;
        flex-wrap: nowrap;
        padding: 16px 0;
        margin: 0 auto;

        .logo__container {
            display: flex;
            align-items: center;
            width: 18.75%;
            max-width: 18.75%;
            padding: 0 8px;
        }

        .navbar__left {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 16px;
            flex: 2;

            .nav__links {
                display: flex;
                align-items: center;

                .link__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 8px;
                }

                &:hover {
                    color: #f86338;
                }
            }

            .navbar__search {
                max-width: 100%;
                flex: 1;
                display: flex;
                // width: 500px;

                .find {
                    display: flex;
                    align-items: center;
                    border: 1px solid #a3a3a6;
                    position: relative;
                    height: 36px;
                    width: 100%;
                    position: relative;

                    .search__input {
                        box-sizing: border-box;
                        width: 100%;
                        // padding: 5px;
                        font-size: .875rem;
                        outline: none;
                        border: 0;
                        padding: 0 16px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                        height: 100%;
                        overflow: hidden;
                    }

                    .search__button {
                        background: #f86338;
                        border: 0;
                        outline: 0;
                        line-height: 1rem;
                        text-align: center;
                        font-weight: 500;
                        padding: 0 16px;
                        height: 100%;
                        cursor: pointer;

                        svg {
                            color: white;
                        }
                    }
                }
            }

        }

        .navbar__right {
            display: flex;
            align-items: center;
            margin-left: 16px;
            gap: 16px;
            flex: 1;
            justify-content: end;

            .link__item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;

                &:hover {
                    color: #f86338;
                }

                span {
                    // position: absolute;
                    background: #f86338;
                    color: white;
                    // border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    // top: -8px;
                    // right: -8px;
                }
            }

            .cart__btn {
                background: #565673;
                color: white;
                padding: 8px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);

                &:hover {
                    opacity: .85;
                    color: white;
                }

            }
        }
    }
}